@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/*reset*/
*{margin:0; padding:0;}
li{list-style:none;}
a{color:inherit; text-decoration:none;}

/*layout*/	
body{font-family: 'Nanum Gothic', sans-serif; font-size:16px; color:#333; line-height:1.25;}
header {width: 100%; height: 90px; box-shadow:0 4px 10px rgba(0,0,0,0.1); position:relative;}
.innerHeader .util ul{width:218p;  heigh:100%; float:left; line-height:90px; margin-left:2%;}
/*ul에 float left 속성을 주고나니, ul이 block속성을 가지고 있기 때문에 한줄을 다 차지하기 때문에 아래에 있던 로고와 div 요소들이 줄바꿈이 일어난것
그렇기 때문에 먼저 정렬을 해줘야 함. */

.innerHeader .util ul li{float:left; padding:0 15px;}
/* 패딩은 상하는 줄 필요 없고 0, 좌우는 15px씩*/

.innerHeader .logo{width: 297px; line-height: 90px; position:absolute; left:50%; transform:translateX(-50%);}
/*logo에 width와 height를 주면 header영역으로는 올라오지 않는다. 그래서 header영역에 위치시켜주기 위해서는
header에 position : relative; logo에 position : absolute; 를 줘야하고
센터로 이동시켜주기 위해서 왼쪽에서 50% 떨어지게 한뒤, 너무갔으니까 transform:translateX(-50%); x축으로 -50%만큼 이동하게하여 센터를 맞춘다.
*/

.innerHeader .logo a {display:inline-block; width:100%; height: 100%; margin-top:10px;}
.related{width: 270px; float:right;}
.related a{display:block; float: left;eft; margin-top:23px; padding:10px 20px; border: 1px solid #ddd;}


/*section.main*/
.main{width:100%; height:auto; background:url(../img/main_5month_02.jpg);
background-size:cover; background-position:center; background-repeat: no-repeat; position:relative;}
.main .inner{width:1400px; height:800px; margin:0 auto;  position:relative; }
.main .inner .mainTitle{width:653px; height:auto; position:absolute; top:30%; left:0;}
.main .inner .mainTitle h2{font-size:50px; line-height:1.3; color:#222; margin-bottom:30px;}
.main .inner .mainTitle p{font-size:19px; line-height:1.3; margin-bottom:50px;}
.main .inner .mainTitle .btn{display:inline-block; padding: 15px 25px; font-size:18px; color:#fff; background:#000;}
.may {position:absolute; width:185px; height:300px; top:51%; transform:translateY(-50%); right:300px;  }
.may > a{display:block; width:145px; height:145px; border-radius:50%; background:#f57454; text-align:center;}
.may strong{font-style:italic; font-size:47px; letter-spacing:-3px;}
.may p{color:#fff;}
.may ul{width: 185px; height:auto; margin-bottom:10px;}
.may ul li{line-height: 40px;}
.may ul li a{display:block; font-size:10px; color:#333; letter-spacing:5px; font-weight:600; border-bottom:1px solid #333;}
.may h3{font-size:40px;}


/*section.happy*/
.happy{width: 1400px; margin:0 auto; color:#333; margin-top:100px;}
.happy h2{text-align:center; margin-bottom:50px; font-size:40px; font-weight:bold;}
.happy h2 .colorText{color:#f57260;}
.happy ul{width: 100%; height:auto; margin:0 auto;  overflow:hidden;}
.happy ul li{float:left; width: 32.1%;  margin-right:1.7%; background:#c5cdbe; margin-bottom:80px; }
.happy ul li:nth-child(2) {background:#e59b90;}
.happy ul li:nth-child(3) {margin-right :0; background:#dfcfc0;}
.happy ul li a{display:block; width:100%; height: 100%; padding: 50px 0 30px 30px; box-sizing:border-box;
			   position:relative; overflow:hidden;}
.happy ul li p{font-size:19px; margin-bottom:30px;}
.happy ul li h3{font-size:26px; margin-bottom:70px;}
.happy ul li p.img{width:380px; height: 250px; margin-right:0; float:right; overflow:hidden;}
.happy ul li p.img img{width: 100%;  transition: all 0.3s; }
/*완성본에서 li 옆에 잇는 ㅡ 짝대기 같은건 가상 컨텐츠로 만들어준다.*/
.happy ul li a:after {content:''; position:absolute; top:60px; right:0;
                      width:50%; heigh:2px; background:rgba(237, 237, 233, 0.42);}
.happy ul li:nth-child(2) a:after{width:60%;}
.happt ul li:nth-child(3) a:after{width:43%;}

/* 마우스 hover시 확대되는 효과*/
.happy ul li a:hover .img img{
	transform: scale(1.2); transition: all 1s;
	/* transform : 마우스를 hover했을때 1.2배 커져라, scale을 적용하고 나니 확대가 띠용? 하고 되는 느낌이여서
	   transition : transition을 준다. all에 1초동안 1.2 scale로 커지라고 한것 
	      여기까지만 했는데, hover할때는 transition이 적용됐는데 나갈때는 또 띠용 하고 나가지기 때문에
	   img 자체에도 트랜지션을 주어야한다.
	   .happy ul li p.img img에 transition : all 0.3s; 를 추가해준다.
	*/	   
}

/*section.smart*/
.smart{width: 100%; height:auto; background-image:url(../img/section.jpg); background-repeat:no-repeat; background-size:cover;
background-position:center; padding:80px 0;}
.smart .inner{width: 1400px; height:auto; margin:0 auto; text-align:center; overflow:hidden;}
.smart .inner h2{font-size:40px; margin-bottom:60px;}
.smart .inner h2 .colorText{color:#425ca6;}
.smart .inner ul{width: 30%; float:left;}
.smart .inner ul li{width: 100%;}
.smart .inner ul li a{display:block; width: 100%; position:relative; text-align:left; }
.smart .inner ul li a .img{width: 100%; height: 220px; overflow:hidden;}
.smart .inner ul li a .img img{width: 100%;}
.smart .inner ul li a h3{font-size:22px; line-height:1.5; position:absolute; top:55%; left:40%; color:#fff;}
.smart .inner ul li a:before{content:'상품테스트'; position: absolute; left: 40px; bottom:43px;  font-size:16px; font-weight:bold;
color:#fff; padding-bottom:25px; border-bottom:3px solid #fff;}
.smart .inner ul li:nth-child(2) a:before{content:'피해예방';}
.smart .row{float: right; width: 70%; height: 437px;}
.smart .row .guide{width: 50%; float: left; background: #fff; text-align:center; padding:20px 0; box-sizing:border-box;}
.smart .row .guide > p{width: 30%; margin-top:30px; font-size:19px; font-weight:bold; margin:20px auto; border-top: 1px solid #000;
border-bottom:1px solid #000; padding:11px;}
.smart .row .guide p.img{display:inline-block; width: 200px; border-radius:50%; overflow:hidden; width: 200px; height: 200px; margin-bottom:30px;}
.smart .row .guide p.img img{width: 100%; transition:all 1s;} 
.smart .row .guide a:hover p.img img{transform:scale(1.3); transition:all 0.6s;}
.smart .row .guide:nth-child(1){border-right:1px solid #ddd;}
.smart .row .guide h3{margin-bottom:30px;}

/*section.news*/
.news{width: 1400px; height:auto; margin:0 auto; overflow:hidden;}
.news .issue{margin-top:50px; width:49.2%; height: 280px; float:left; background-image:url(../img/img_08.jpg); background-repeat:no-repeat;
background-position:center; background-size:cover; margin-right:1.5%;}
.news .issue:nth-child(2){margin-right:0; background-image:url(../img/img_09.jpg);}
.news .issue h2{margin-top:10%; margin-left:8%;}
.news .issue p{font-size:15px; color:#333; margin-top:20px; margin-left:8%;}
.news .issue p .num{font-size:14px; padding:3px 7px; background:#7f8c97; border-radius:50%; color:#fff; }


/*footer & top btn*/
footer{width: 100%; height:auto; background: #454545; color:#adadad; overflow:hidden;}
footer .address{width: 1400px; margin:0 auto; line-height:1.7;}
footer .address > p{float:left; margin:50px; text-align:center;}
footer .address .flogo{float:right; padding-top:30px;}
footer .address .copy{font-size:14px;}

.top {float:right; margin-right:50px; margin-bottom:30px; width:60px; height:60px; background:#454545; border-radius:50%;
background-image:url(../img/arrow.JPG); background-repeat:no-repeat; background-size:18px; background-position:top; position:relative;}
.top a{dispaly:block; width: 100%; height: 100%;}
.top p{font-size:16px; font-weight:bold; color:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}




